body{
  margin-left: 0;
  padding-left: 0;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
  background: #23E3C9;
}
.slider{
  width: 90%;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  margin:auto;
  text-align: center;

}
.slides{
  width: 500%;
  height: 600px;
  display: flex;
}
.slides input{
  display: none;
  width: 5px;
}

.slide{
  width: 20%;
  transition: 2s;
  position: relative;

  color: white;
}
.slides img{
  width: 100%;
  height: 600px;
}
.slide-text{
  position: absolute;
  width: 100%;
  bottom:50px;
  text-align: center;
  margin:auto;
  font-size: 16px;
  font-weight: 300;
  color:#c1b9b9;
  letter-spacing: 2px;
  font-family: 'poppins' sans-serif;
}

.navigation-manual{
  position: absolute;
  width: 90%;
  margin-top: -40px;
  display: flex;
  justify-content: center;

}

.manual-btn{
  border:2px solid #40D3DC;
  padding:5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;

}


.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked~.first{
  margin-left: 0;
}
#radio2:checked~.first{
  margin-left: -20%;
}
#radio3:checked~.first{
  margin-left: -40%;
}
#radio4:checked~.first{
  margin-left: -60%;
}


.navigation-auto{
  position: absolute;
  display: flex;
  width: 90%;
  justify-content: center;
  margin-top:560px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;

}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}
#radio2:checked~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}
#radio3:checked~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}
#radio4:checked~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}
