.form-container {
    width: 50%;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 50px;
    background-color: silver;
}

.in-back {
    background-color: silver;
    border-color: gray;
}

.items {
    width: 60%;
    margin: auto;
    border: 2px solid rgb(119, 182, 119);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
}

.mar-center {
    margin: auto;
}